<%- include('layouts/header') %>

    <div class="container">
        <div class="row">
            <div class="column">
                Home PAge
            </div>
        </div>
    </div>

<%- include('layouts/footer') %>